body{
  font-family: 'MyCustomFont', sans-serif; /* Fall back to a system font if the custom font fails to load */

}
.navbar-custom {
  background-color: #46ad7f;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000; /* Ensure the header stays on top */
}

.navbar-custom .navbar-brand {
  display: flex;
  align-items: center;
  margin-left: auto; /* Move the logo to the right corner */
}

.navbar-custom .navbar-brand img {
  max-width: 100px;
}

.navbar-custom .form-control {
  border-radius: 25px;
  width: 600px;
}

.navbar-custom .input-group {
  flex-grow: 1;
  max-width: 600px; /* Set a maximum width for the search bar */
  height: 50px;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.navbar-custom .navbar-nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar-custom .nav-item {
  display: flex;
  align-items: center;
}

.navbar-custom .nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Ensure the logo is at the end of the nav-right section */
}

.navbar-custom .btn-filter, .navbar-custom .btn-address {
  background-color: #f8f9fa;
  border: none;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 25px;
}

.navbar-custom .btn-filter {
  margin-right: 10px;
}

.navbar-custom .btn-catalog {
  background-color: #e9ecef;
  border: none;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 25px;
  margin-right: 10px;
}

.category-card {
  padding: 20px;
  text-align: center;
  background-color: rgb(210, 163, 189);
  margin-bottom: 20px;
  border-radius: 10px;
}

.category-card img {
  max-width: 100px;
  margin-bottom: 10px;
}

.cart-section {
  background-color: whitesmoke;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: fixed; /* Make the cart section fixed */
  top: 150px; /* Adjust based on the header height */
  right: 0;
  width: 400px;
  height: calc(100% - 80px); /* Adjust height based on the header height */
  overflow-y: auto; /* Enable vertical scrolling */
  height: calc(100vh - 200px); /* Adjust height for the fixed header and footer */
}

.cart-section h4 {
  margin-bottom: 20px;
}

.cart-content {
  flex-grow: 1;
  overflow-y: auto;
}

.navbar .navbar-brand img {
  max-width: 100px;
}



.main-content {
  padding-right:50px;
  padding-top: 150px; /* Add padding to avoid content hiding under header */
  width:1500px;
  padding-left:5px;
}

.dropdown-menu-end {
  right: 0;
  left: auto;
}

.icon {
  width: 60px;
  padding: 10px;
}

.Cat {
  margin-left: 10px;
  font-size: x-large;
  text-decoration: none;
  color: #46ad7f;
  font-family: Courier, monospace;
  font-weight: bold;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create a grid with 3 equal columns */
  gap: 10px;
}

.category-item {
  background-color: #eaf6ff; /* Match the background color */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-item img {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  object-fit:contain /* Ensure image covers the area while maintaining aspect ratio */
}

/* Styles for even number of items */
.category-grid {
  counter-reset: category-items;
}

.category-grid > .category-item {
  counter-increment: category-items;
}

.category-grid > .category-item:nth-last-child(1):nth-child(odd) {
  grid-column: span 2;
}




/* Responsive styles */
@media (max-width: 767px) {
  .category-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
  }

  .category-grid .category-item:nth-last-child(1) {
    grid-column: span 2; /* Make the last item span 2 columns if it's alone in the row on small screens */
  }

 
}

@media (max-width: 575px) {
  .category-grid {
    grid-template-columns: 1fr; /* 1 column for extra small screens */
  }

  .category-grid .category-item:nth-last-child(1),
  .category-grid .category-item:nth-last-child(2) {
    grid-column: span 1; /* Make the last items span 1 column each on extra small screens */
  }
}

.dropdown-toggle {
  background-color: whitesmoke;
  border: none;
}

.bi-list {
  color: #46ad7f;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000; /* Ensure the header stays on top */
}

.purchase-button {
  margin-top: 20px;
  align-self: center;
  background-color: #46ad7f;
  border: none;
  width: 200px;
  height: 60px;
  font-size: larger;
  font-family: Courier, monospace;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Added transition */

}
.purchase-button:hover{

  background-color: #46ad7f93;
  transition: background-color 0.3s ease; /* Added transition */


}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-prod-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 15px;
}

.cart-prod-text {
  font-size: medium;
  font-family: Courier, monospace;
  font-weight: bold;
}

.small-input-group {
  width: 120px; /* Adjust the width as needed */
}

.small-input-group .form-control {
  width: 50px; /* Adjust the width of the input field */
  padding: 5px; /* Adjust padding for the input field */
  text-align: center; /* Center text in the input field */
}
.login_btn {
  color:black;
  text-decoration: none;
}
#map{
  height: 500px; 
  width: 100%;
}


#pac-input {
  z-index: 1051; /* Ensures the input is above the modal backdrop */
}
.pac-container {
  z-index: 2052 !important; /* Ensures the suggestions are above the modal */
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px; /* Increase bottom margin for more space */
  background-color: #f9f9f9;
  width: 250px; /* Adjust width as needed */
  height: 400px; /* Increase height to accommodate more content */
  box-sizing: border-box; /* Ensure padding and border are included in the height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space between items */
  overflow: hidden; /* Hide any overflowing content */
}

.product-card img {
  max-width: 100%;
  max-height: 180px; /* Increase height of the image container */
  object-fit: contain; /* Ensure the image fits within its container */
  margin-bottom: 10px;
}

.product-card h5 {
  font-size: medium;
  font-family: Courier, monospace;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-card p {
  margin: 5px 0;
  flex: 1; /* Allow the paragraph to expand and fill available space */
}

.product-card .btn {
  background-color: #46ad7f;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px; /* Add margin to create space above the button */
}





#product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.cart-item img {
  max-width: 50px;
  margin-left: 15px;
}
#Clear-Cart{
  width:150px;
  font-family: Courier, monospace;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Added transition */

}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0;}
  to {top: 0; opacity: 1;}
}

#signatureCanvas {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  cursor: crosshair;
}

#saveSignature {
  margin-top: 10px;
  float: right;
}
.category-item {
  background-color: #eaf6ff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease; /* Added transition */
}

.category-item:hover {
  transform: scale(1.05); /* Scale up on hover */
}

.price-filter {
  background-color: #f8f9fa; 
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  margin-bottom: 20px; 
}

.price-filter h4 {
  margin-bottom: 10px; 
  font-size: 18px; 
  font-weight: bold;
}

.price-filter .input-group {
  gap: 10px; 
}

.price-filter .form-control {
  border-radius: 25px; 
  height: 40px; 
  font-size: 14px; 
}

.price-filter .btn-primary {
  border-radius: 25px; 
  padding: 4px 12px; 
  font-size: 12px; 
  background-color: #46ad7f;
  border: none;
}


.navbar-custom .btn-filter,
.navbar-custom .btn-address {
  background-color: #f8f9fa;
  border: none;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 25px;
  transition: background-color 0.3s ease; /* Added transition */
}

.navbar-custom .btn-filter:hover,
.navbar-custom .btn-address:hover {
  background-color: #e2e6ea; 
}

.video-container {
  display: flex;
  align-items: center;
  padding-top: 120px;
  margin-right: 400px;
}
.reg-text {
  font-family: 'MyCustomFont', Courier, monospace; 
  font-size: larger;
  font-weight: bold;
}
@font-face {
  font-family: 'MyCustomFont';
  src: url('./fonts/my-custom-font.woff2') format('woff2');
  ffont-size: medium;
  font-family: Courier, monospace;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('./fonts/my-custom-font-bold.woff2') format('woff2');
       
       font-size: larger;
       font-family: Courier, monospace;
       font-weight: bold;
}

